[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
coverage = "*"
peewee = "*"
psycopg2-binary = "*"
python-dateutil = "*"
python-dotenv = "*"
pytz = "*"
twine = "*"

[dev-packages]
pylint = "*"
twine = "*"
yapf = "*"

[requires]
python_version = "3.9"
