[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
peewee = "*"
plotly = "*"
psycopg2-binary = "*"
python-dateutil = "*"
python-social-auth = "*"
python3-openid = "*"
python-dotenv = "*"
python-jose = "*"
requests-oauthlib = "*"
social = "*"
social-auth-app-django = "*"
social-auth-core = "*"

[dev-packages]

[requires]
python_version = "3.10"
