{% extends 'base.html' %}
{% block content %}
    <table>
        <tr>
            <th class="id_column">ID</th>
            <th class="name_column">Name</th>
            <th class="duration_column">Participation<br>duration</th>
            <th class="amount_column">Amount of<br>samples</th>
            <th class="heartbeat_column">Latest<br>heartbeat time</th>
            <th class="sync_time_column">Latest<br>sync time</th>
            <th class="action_column">Action</th>
        </tr>
        {% load humanize %}
        {% for participant in participants %}
            <tr data-href="{% url 'participant' %}?campaign_id={{ request.GET.id }}&participant_id={{ participant.id }}">
                <td class="id_column">{{ participant.id }}</td>
                <td class="name_column" title="{{ participant.email }}">{{ participant.name }}</td>
                <td class="duration_column">{{ participant.day_no }} days</td>
                <td class="amount_column" {% if participant.amount_of_data == 0 %} style="color: red;" {% endif %}>{{ participant.amount_of_data|intcomma }} samples</td>
                <td class="heartbeat_column">{{ participant.last_heartbeat_time }}</td>
                <td class="sync_time_column">{{ participant.last_sync_time }}</td>
                <td class="action_column">
                    <a class="action_button" href="{% url 'download-data' %}?campaign_id={{ campaign.id }}&participant_id={{ participant.id }}">
                        <img title="Download raw data" class="action_button_green" src="/static/download.png" alt="download">
                    </a>
                    <a class="action_button" href="{% url 'easytrack-monitor' %}?campaign_id={{ campaign.id }}&participant_id={{ participant.id }}&data_source_name=all">
                        <img title="Monitor the participant {{ participant.email }}" class="action_button_green" src="/static/monitor.png" alt="EasyTrack monitor">
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if debug and not joined %}
        <a href="{% url 'dev-join-campaign' %}?campaign_id={{ campaign.id }}" id="dev_join_campaign_button">Join as a participant</a>
    {% endif %}

    <script>
        {# for handling campaign row clicks #}
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data-href]");
            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });
    </script>

    <style>
        table {
            color: #333;
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
        }

        .id_column {
            width: 5%;
        }

        .name_column {
            width: 20%;
        }

        .duration_column {
            width: 10%;
        }

        .amount_column {
            width: 15%;
        }

        .heartbeat_column {
            width: 20%;
        }

        .sync_time_column {
            width: 20%;
        }

        .action_column {
            width: 10%;
        }

        td, th {
            border: 1px solid transparent; /* No more visible border */
            height: 30px;
        {#transition: all 0.3s; /* Simple transition for hover effect */#}
        }

        th {
            background: #4285F4; /* #F1F1F1; /* Darken header a bit */
            color: white;
            font-weight: bold;
            padding: 10px 0;
            font-size: large;
        }

        td {
            background: white;
            text-align: center;
            cursor: pointer;
            padding: 5px 0;
        }

        /* Cells in even rows (2,4,6...) are one color */
        tr:nth-child(even) td {
            background: white;
        }

        /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
        tr:nth-child(odd) td {
            background: #DFDFDF;
        }

        tr:not(:first-child):hover td {
            background: #666;
            color: white;
        }

        a.action_button {
            text-decoration: none;
        }

        img.action_button_green {
            background: #2ecc71;
            vertical-align: middle;
            padding: 3px;
            margin: 2px 0;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: larger;
            cursor: pointer;
        {#transition: all 0.3s;#}
        }

        img.action_button_green:hover, img.action_button_red:hover {
            background: #4285F4;
            color: black;
        }

        #dev_join_campaign_button {
            background: royalblue;
            padding: 10px;
            color: white;
            border: none;
            border-radius: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
            float: left;
            font-size: larger;
            cursor: pointer;
        {#transition: all 0.3s;#} text-decoration: none;
        }

        #dev_join_campaign_button:hover {
            background: #666;
            color: #FFF;
        }
    </style>
{% endblock %}