{% extends 'base.html' %}
{% block content %}
    {% if records|length == 0 %}
        <h2>[ NO DATA / EMPTY ]</h2>
        <img src="/static/failure.png" alt="Under construction">
    {% else %}
        <form id="view_data_submit_form" action="{% url 'view_data' %}" method="get" onsubmit="onFormSubmit()">
            <input type="number" name="campaign_id" value="{{ request.GET.campaign_id }}" hidden>
            <input type="email" name="email" value="{{ request.GET.email }}" hidden>
            <input type="number" name="data_source_id" value="{{ request.GET.data_source_id }}" hidden>
            <input type="number" name="from_timestamp" id="from_timestamp" value="{{ from_timestamp }}" hidden/>
            <label>
                From time:
                <input type="datetime-local" id="datetime_picker" oninput="onDateTimeInput()">
            </label>
            <input class="action_button" type="submit" value="Fetch next 500 data records">
        </form>

        <table id="value_table">
            <tr>
                <th class="row_column">Row</th>
                <th class="time_column">Time</th>
                <th class="value_column">Value</th>
            </tr>
            {% for record in records %}
                <tr class="data_source">
                    <td>{{ record.row }}</td>
                    <td>{{ record.timestamp }}</td>
                    {% if record.value|length <= 512 %}
                        <td title="{{ record.value }}">{{ record.value|truncatechars:256 }}</td>
                    {% else %}
                        <td>[ <i>{{ record.value|length }} byte data record</i> ]</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <script>
        let fromTimeMs, dateTimePicker, viewDataForm;
        let dateTimeWasPicked = false;

        document.addEventListener("DOMContentLoaded", () => {
            fromTimeMs = document.getElementById("from_timestamp");
            dateTimePicker = document.getElementById("datetime_picker");
            viewDataForm = document.getElementById("view_data_submit_form");

            let fromTimestamp = {% if from_timestamp %} {{ from_timestamp }} {% else %} 0 {% endif %};
            if (fromTimestamp > 0) {
                let date = new Date(fromTimestamp);
                let datePart = [date.getFullYear().toString().padStart(2, '0'), (date.getMonth() + 1).toString().padStart(2, '0'), date.getDate().toString().padStart(2, '0')].join('-');
                let timePart = [date.getHours().toString().padStart(2, '0'), date.getMinutes().toString().padStart(2, '0')].join(':');
                dateTimePicker.value = [datePart, timePart].join('T');
            }
        });

        function onDateTimeInput() {
            dateTimeWasPicked = true;
        }

        function onFormSubmit() {
            if (dateTimeWasPicked && dateTimePicker.value.length !== 0) {
                let dateTimeArray = dateTimePicker.value.split('T');
                let datePart = dateTimeArray[0].split('-');
                let timePart = dateTimeArray[1].split(':');
                let date = new Date();
                date.setFullYear(parseInt(datePart[0]), parseInt(datePart[1]) - 1, parseInt(datePart[2]));
                date.setHours(parseInt(timePart[0]), parseInt(timePart[1]), 0, 0);
                fromTimeMs.value = date.getTime();
            }
        }
    </script>

    <style>
        #value_table {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            border-collapse: collapse;
            border-spacing: 0;
            margin-bottom: 20px;
            text-align: center;
            table-layout: fixed;
        }

        .row_column {
            width: 10%;
        }
        .time_column {
            width: 20%;
        }
        .value_column {
            width: 70%
        }

        #value_table tr:first-child {
            background: #4285F4; /* #F1F1F1; /* Darken header a bit */
            color: white;
            font-weight: bold;
            padding: 10px 0;
            font-size: large;
        }

        #value_table tr.data_source td {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #value_table tr.data_source:nth-child(even) td {
            background: white;
        }

        #value_table tr.data_source:nth-child(even) td {
            background: white;
        }

        /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
        #value_table tr.data_source:nth-child(odd) td {
            background: #DFDFDF;
        }

        #view_data_submit_form {
            margin-bottom: 20px;
            float: right;
        }

        .action_button {
            background: #2ecc71;
            padding: 5px;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: larger;
            cursor: pointer;
            text-decoration: none;
        }

        a.action_button:hover {
            background: #666;
            color: #FFF;
        }
    </style>
{% endblock %}