{% extends 'base.html' %}
{% block content %}
    <table>
        <tr>
            <th class="id_column">ID</th>
            <th class="title_column">Campaign title</th>
            <th class="notes_column">Campaign notes</th>
            <th class="participants_column">Participants</th>
            <th class="actions_column">Actions</th>
        </tr>
        {% load humanize %}
        {% for campaign in my_campaigns %}
            <tr>
                <td class="id_column" data-href="{% url 'participants-list' %}?id={{ campaign.id }}">{{ campaign.id|truncatechars:40 }}</td>
                <td class="title_column" title="{{ campaign.name }}" data-href="{% url 'participants-list' %}?id={{ campaign.id }}">{{ campaign.name|truncatechars:40 }}</td>
                <td class="notes_column" title="{{ campaign.notes }}" data-href="{% url 'participants-list' %}?id={{ campaign.id }}">{% if campaign.notes|length == 0 %}-{% else %}{{ campaign.notes|truncatechars:20 }}{% endif %}</td>
                <td class="participants_column" title="Number of participants" data-href="{% url 'participants-list' %}?id={{ campaign.id }}">{{ campaign.participants|intcomma }}</td>
                <td class="actions_column">
                    <a title="Edit campaign details" href="{% url 'campaign-editor' %}?campaign_id={{ campaign.id }}&edit">
                        <img class="action_button_green" src="/static/edit.png" alt="edit">
                    </a>
                    <a title="View dataset's technical configurations" href="{% url 'dataset-info' %}?campaign_id={{ campaign.id }}">
                        <img class="action_button_green" src="/static/info.png" alt="info">
                    </a>
                    {% if campaign.created_by_me %}
                        <a title="Manage researchers (i.e., add / remove)" href="{% url 'manage-researchers' %}?campaign_id={{ campaign.id }}">
                            <img class="action_button_green" src="/static/researcher.png" alt="researcher">
                        </a>
                    {% endif %}
                    <a title="Download your complete dataset at this state" href="{% url 'download-dataset' %}?campaign_id={{ campaign.id }}">
                        <img class="action_button_green" src="/static/download.png" alt="download">
                    </a>
                    <a title="Monitor the campaign {{ campaign.id }}" href="{% url 'easytrack-monitor' %}?campaign_id={{ campaign.id }}&data_source_name=all">
                        <img class="action_button_green" src="/static/monitor.png" alt="monitor">
                    </a>
                    {% if campaign.created_by_me %}
                        <a title="!!! Delete the campaign (including the data)" id="delete_campaign_{{ campaign.id }}_button" href="#" onclick="deleteCampaignClick(this.id);" data-href="{% url 'delete-campaign' %}?campaign_id={{ campaign.id }}">
                            <img class="action_button_red" src="/static/delete.png" alt="download">
                        </a>
                    {% endif %}
                    {# TODO: finish this notification part #}
                    {# {% with campaign_id=campaign.id %} #}
                    {# <a class="action_button_green" href="{% url 'notifications' %}?campaign_id={{ campaign.id }}">{{ notifications.campaign_id|length }}</a> #}
                    {# {% endwith %} #}
                </td>
            </tr>
        {% endfor %}
    </table>
    <a id="add_campaign_button" href="{% url 'campaign-editor' %}">Create a new campaign</a>

    <script>
        {# for handling campaign row clicks #}
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("td[data-href]");
            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });

        function deleteCampaignClick(clicked_id) {
            if (confirm("This will delete your campaign and all its data. Proceed?") && confirm("Double check. Are you sure?"))
                window.location.href = document.getElementById(clicked_id).dataset.href;
        }
    </script>

    <style>
        table {
            color: #333;
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            table-layout: fixed;
        }

        .id_column {
            width: 10%;
        }

        .title_column {
            width: 30%;
        }

        .notes_column {
            width: 30%
        }

        .participants_column {
            width: 10%
        }

        .actions_column {
            width: 20%
        }

        td, th {
            border: 1px solid transparent; /* No more visible border */
            height: 30px;
        {#transition: all 0.3s; /* Simple transition for hover effect */#}
        }

        th {
            background: #4285F4; /* #F1F1F1; /* Darken header a bit */
            color: white;
            font-weight: bold;
            padding: 10px 0;
            font-size: large;
        }

        td {
            background: white;
            text-align: center;
            cursor: pointer;
            padding: 5px;
        }

        /* Cells in even rows (2,4,6...) are one color */
        tr:nth-child(even) td {
            background: white;
        }

        /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
        tr:nth-child(odd) td {
            background: #DFDFDF;
        }

        tr:not(:first-child):hover td {
            background: #666;
            color: white;
        }

        #add_campaign_button {
            background: #2ecc71;
            padding: 20px;
            color: white;
            border: none;
            border-radius: 5px;
            margin-top: 20px;
            margin-bottom: 20px;
            float: right;
            font-weight: 800;
            font-size: larger;
            cursor: pointer;
            text-decoration: none;
        {#transition: all 0.3s;#}
        }

        #add_campaign_button:hover {
            background: #666;
            color: #FFF;
        }

        a {
            text-decoration: none;
        }

        img.action_button_green {
            background: #2ecc71;
            vertical-align: middle;
            padding: 3px;
            margin: 2px 0;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: larger;
            cursor: pointer;
        {#transition: all 0.3s;#}
        }

        img.action_button_red {
            background: orangered;
            vertical-align: middle;
            padding: 3px;
            margin: 2px 0;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: larger;
            cursor: pointer;
        {#transition: all 0.3s;#}
        }

        img.action_button_green:hover, img.action_button_red:hover {
            background: #4285F4;
            color: black;
        }
    </style>
{% endblock %}