{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <div class="col s12 m6 offset-m3 center-align">
        <a class="oauth-container btn darken-4 white black-text" href="{% url 'social:begin' 'google-oauth2' %}{% if next %}?next={{ next }}{% endif %}" style="text-transform:none">
            <div class="left">
                <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
            </div>
            Login with Google
        </a>
    </div>

    {% if debug %}
        <div class="col s12 m6 offset-m3 center-align" style="margin-top: 20px">
            <a class="oauth-container btn darken-4 white black-text" href="{% url 'dev-login' %}" style="text-transform:none">
                <div class="left">
                    <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                </div>
                Development login (dev@easytrack.com)
            </a>
        </div>
    {% endif %}

    <script>
        let gAuth; // Google Auth object.

        $(document).init(function () {
            $('#loginButton').click(function () {
                gapi.load('auth2', function () {
                    gapi.auth2.authorize({
                        client_id: '79296265957-khvficocpqmhajv3c5obiljo2k95jqt3.apps.googleusercontent.com',
                        scope: "email profile openid",
                        response_type: 'id_token permission'
                    }, function (response) {
                        if (response.error) {
                            alert('Failed to login, please try again!')
                            return;
                        }

                        let idToken = response.id_token;
                        let redirectUrl = `${location.protocol}//${location.host}{% url 'login' %}?idToken=${idToken}`;
                        console.log(`redirectUrl: ${redirectUrl}`);
                        window.location.replace(redirectUrl);
                    });
                });
            });
        });

        function initGoogleApiClient() {
            gapi.client.init({
                'apiKey': 'AIzaSyC0RSyYQIVC0palvzQQ5YUEW6g1taUT2VY',
                'clientId': '79296265957-khvficocpqmhajv3c5obiljo2k95jqt3.apps.googleusercontent.com',
                'scope': "https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile openid",
            }).then(function () {
                gAuth = gapi.auth2.getAuthInstance();
                gAuth.isSignedIn.listen(updateSigninStatus);
            });
        }

        function updateSigninStatus(isSignedIn) {
            console.log('updateSigninStatus');
            if (isSignedIn) {
                // todo redirect here

                let user = gAuth.currentUser;
                console.log(`user: ${user}`);

                let resp = user.getAuthResponse();
                console.log(`resp: ${resp}`);

                let idToken = resp.id_token;
                console.log(`idToken: ${idToken}`);
            }
        }
    </script>

    <style>
        body {
            text-align: center;
        }
    </style>
{% endblock %}
